/* ---------------------utils-------------------- */
/* profile-card */
.profile-card{
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(244, 249, 254);
    /* position: fixed; */
}

.profile-card-top{
    width: auto;
    height: 25%;
    margin: 1rem;
    display: flex;
}
.profile-card-bottom{
    width: auto;
    height: auto;
    margin: 0 1rem;
}

.profile-card-pic{
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 1rem; */

}
.profile-card-pic img{
    width: 100%;
    border-radius: 50%;
}

.profile-card-intro{
    margin: 1rem;
}
/* profile-card---x-x-x-x-x-x-x-x-x-x-x-x-x-x-x---*/

/* ------header------------ */
.header{
    width: 100%;
    height: 4rem;
    background-color: rgb(187, 206, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}
.header-navigate{
    /* align-self: flex-end; */
    width: 20rem;
}
.icon{
    margin: 0 50px;
}
.header-logo{
    height: 40px;
    margin-left: 1.5rem;
}
.header-logo img{
    height: 100%;
    border-radius: 50%;
}
.header-logout{
    margin: 0 50px
}
/* header --x-x-x-x-x-x-x-x--x-x-x-x-x */

/* ------------post-card-------- */
.post-box{
    width: 100%;
    height: fit-content;

}
.post-box img{
    width: 100%;
}
